name: Python CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  run-python:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python Script
        run: python hello.py
